# hardware-configuration contains system-specific settings from the results of a
# scan that NixOs automatically performs on installation
hardware-configuration.nix

# avoid uploading the password hash for security
password.txt

